---
layout: default
---

<small></small>
<h1>3. Markdown</h1>

<p class="view">by </p>

<h1 id="github">GitHub</h1>
<p>This module will introduce you to <a href="github.com">GitHub</a> and the use of the distributed version control coding language Git. The aim is to provide you with the skills to manage and monitor data and text files for research in an online multi-user environment, and to give you some experience in the basics of version control for keeping track of files.</p>

<h2 id="introduction">Introduction</h2>
<p><a href="github.com">GitHub</a> is an online hosting service for software development and version control, built around <a href="https://git-scm.com">Git</a>, a free and open-source distributed version control system.</p>

<p>The good thing about <a href="github.com">GitHub</a> is that it provides you with an online and highly versatile platform for creating, storing, sharing, and publishing text and data. So, to keep all of the files and scripts that you will be producing during the <a href="/daa/">Digital Applications in Assyriology Nordic Summer School</a> in one easily accessible place, we thought it best to start out by introducing you to <a href="github.com">GitHub</a>.</p>

<h2 id="aims">Aims</h2>
<p>With a <a href="github.com">GitHub</a> user account, you will be able to store and publish virtually any type of file from a remote location, while being able at the same time to create, edit, and upload files from a local work station with detailed version control. This means that you will also be able to restore previous versions of data files if anything goes wrong, and that you will be able to share data with other users on <a href="github.com">GitHub</a> - and make use of theirs too!</p>

<p>This class will take you through the following processes:</p>

<ul>
  <li><a href="#create-a-personal-github-account">Create a personal GitHub account</a></li>
  <li><a href="#set-up-a-github-repository">Set up a GitHub repository</a></li>
  <li><a href="#clone-a-github-repository">Clone a repository</a></li>
  <li><a href="#create-a-commit-to-github">Create and push a file to GitHub</a></li>
</ul>

<h4 id="applications">Applications</h4>
<ul>
  <li><a href="https://desktop.github.com">GitHub Desktop</a> - a desktop client application maintained by GitHub</li>
</ul>

<h4 id="resources">Resources</h4>
<ul>
  <li><a href="https://docs.github.com/en">GitHub Docs</a> - documentation and tutorials for everything GitHub</li>
  <li><a href="https://docs.github.com/en/desktop">GitHub Desktop</a> - GitHub Docs subsection on GitHUb Desktop</li>
</ul>

<h2 id="tasks">Tasks</h2>
<h3 id="create-a-personal-github-account">Create a personal GitHub account</h3>
<ol>
  <li>To create a GitHub personal user account, first go to <a href="www.github.com">www.github.com</a> and choose <strong>Sign up</strong>.</li>
  <li>Enter an e-mail and a password</li>
  <li>Enter a user name</li>
  <li>Access your user profile</li>
</ol>

<p>Take a moment to familiarise yourself with the user interface. Note that your user profile has a URL, with the format <strong>https://github.com/</strong> followed by your user name. This user profile is publicly accessible by default.</p>

<p>Through <strong>Edit profile</strong> on the left, you can add links to your personal website, Twitter handle, and include a short bio. In the <strong>Search</strong> field in the top left corner, you can search for users, repositories, projects, and organisations.</p>

<p>In the <strong>Search</strong> field, try searching for <strong>cdli_gh</strong>. The results will be sorted according to type, with <strong>Repositories</strong> at the top. Scroll down to <strong>Users</strong>, and select <strong>CDLI cdli-gh</strong> from the results list.</p>

<p>You have now reached the GitHub organisation page of the <a href="http://cdli.mpiwg-berlin.mpg.de">Cuneiform Digital Library Initiative</a>. If you choose <strong>Follow</strong> on the right, you can follow this organisation, which means that you will receive notifications to your own user profile about activities by the users and organisations that you are following.</p>

<p>With a GitHub account, you can then follow, inspect, and reuse data and code published by other GitHub users and organisations.</p>

<h3 id="set-up-a-github-repository">Set up a GitHub repository</h3>
<p>Now, let us proceed to create a file directory, or a <strong>repository</strong>, as it is called on GitHub. When you have created a GitHub user profile, you also need a repository in order to work with and store files and data associated with that user profile. Essentially, a repository is a file directory, just like a folder on a computer.</p>

<ol>
  <li>From your user profile, choose the <strong>Repositories</strong> tab. This will give you an overview of the repositories belonging to your user profile.</li>
  <li>Now, choose <strong>New</strong> to create a new repository</li>
  <li>You will be required to name your repository. Give your repository the name <strong>daa</strong></li>
  <li>Set the repository to <strong>Private</strong></li>
  <li>Be sure to check <strong>Add a README file</strong></li>
  <li>Choose <strong>Create repository</strong></li>
</ol>

<p>You should now have a repository named <strong>daa</strong> associated with your GitHub account. Note that this also will have received a dedicated URL, namely <strong>https://github.com/yourusername/daa/</strong>.</p>

<h3 id="clone-a-github-repository">Clone a GitHub repository</h3>
<p>The point about a distributed version control system such as GitHub is that you can store files with an online hosting service <em>and</em> work on those locally, either individually or as a group.</p>

<p>This is done by <strong>cloning</strong> a repository on your online GitHub user profile to your local drive. To work with cloned GitHub repositories on your local drive, you will usually need a GitHub desktop client. For this task, we will use <a href="https://desktop.github.com">GitHub Desktop</a>, but later today, you will also be introduced to code editors with built-in Git capability (see <a href="/daa/1_3_markdown.html">1.3 Markdown</a>). A good source code editor can essentially speaking perform most of the tasks that you will need a desktop client such as <a href="https://desktop.github.com">GitHub Desktop</a> for, <em>and</em> allow you to add, delete, and edit files in your cloned repositories at the same time.</p>

<p>For now, let’s go with <a href="https://desktop.github.com">GitHub Desktop</a>. Through this link <a href="https://desktop.github.com">(https://desktop.github.com)</a>, you can download and install the <a href="https://desktop.github.com">GitHub Desktop</a> client on your laptop. Please do so before continuing.</p>

<p>To clone a GitHub repository to your local drive, you should first decide on where on your local drive this repository should be located. It’s a good thing to think a couple of steps ahead, and if you want to work more with GitHub files, you will most likely be needing more repositories in the future for your projects. The easiest thing is to keep all of your cloned repositories in a similar location on your local drive.</p>

<ol>
  <li>On your local drive, navigate to your <strong>User/Documents</strong> directory</li>
  <li>Create a new folder in this location named <strong>github</strong> (do not use capital letters)</li>
  <li>Now, go back to your GitHub user profile online and navigate to your <strong>daa</strong> repository.</li>
  <li>Choose <strong>Code</strong> and select <strong>Open with GitHub Desktop</strong></li>
  <li>From the pop-up window, check that the URL of the repository is correct. The repository path should be <strong>https://github.com/yourusernamer/daa</strong>. Below, check that the path on your local drive is correct. It should be <strong>yourusername/Documents/github/daa</strong>.</li>
  <li>Press <strong>Clone</strong>.</li>
  <li>You should automatically be returned to <strong>GitHub Desktop</strong>.</li>
  <li>Check that the repositories pane on the left now has <strong>daa</strong> as the current repository.</li>
</ol>

<p>Because <a href="https://desktop.github.com">GitHub Desktop</a> is not a text or code editor, but a file management application, you cannot see the files included in the <strong>daa</strong> repository before changes have been made in these files.</p>

<ol>
  <li>From the three options in the center pane, choose <strong>Show in Finder</strong></li>
  <li>You should now see the contents of the <strong>daa</strong> folder in your <strong>Finder</strong> (for MacOS) or <strong>File Explorer</strong> (for Windows).</li>
  <li>Open the file <strong>README.md</strong> in your default text editor, either <strong>TextEdit</strong> (MacOS) or <strong>Notepad</strong> (Windows).</li>
  <li>Add your name and email in the second line, below <strong># daa</strong>.</li>
  <li>Save and close the text editor.</li>
</ol>

<h3 id="create-a-commit-to-github">Create a commit to GitHub</h3>
<p>What you have done now is to add changes to a file which is part of a cloned GitHub repository. This means that you now have two different versions of the <strong>README.md</strong>; one in your online GitHub repository, another on your local drive. To update the the version online with the changes on your local drive, you will now need to make a <strong>commit</strong>. A <strong>commit</strong> pushes the file version stored on your local drive to the online repository, thus updating the online <strong>master</strong> version to correspond to your local version.</p>

<p>If you return to the <a href="https://desktop.github.com">GitHub Desktop</a> interface, you will see that the <strong>README.md</strong> has appeared in the left-hand <strong>Changes</strong> pane and is marked with a yellow square tag. The yellow square tag indicates that the file has been <strong>modified</strong>, and in the main pane you can see a summary of the changes constituting these modifications. Most file managers and IDEs with embedded Git employs a simple colour coding for file changes:</p>

<table>
  <thead>
    <tr>
      <th>colour</th>
      <th>meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="color:green">green</span></td>
      <td>New or untracked file</td>
    </tr>
    <tr>
      <td><span style="color:yellow">yellow</span></td>
      <td>Modified file</td>
    </tr>
    <tr>
      <td><span style="color:red">red</span></td>
      <td>Deleted or removed file</td>
    </tr>
  </tbody>
</table>

<p>To update the online version of the file with these modifications, let us go through the various steps of making a <strong>commit</strong> and <strong>pushing</strong> a file to GitHub. This may sound overly complicated to start with, but as we will see, there are good reasons for every step of this process.</p>

<p>Whenever you have completed and saved edits to a file, the file will be listed as <strong>modified</strong> in the <strong>Changes</strong> pane of GitHub Desktop. This merely means that GitHub Desktop has registered a change in the file relative to the last version of the file logged by the embedded Git, but this change has not been stored or distributed anywhere else.</p>

<ol>
  <li>To commit these changes to the online version, you will first need to <strong>stage</strong> the changes to the file. In <strong>GitHub Desktop</strong>, this is done by checking the box next to the file name in the <strong>Changes</strong> pane.</li>
  <li>Then, you will need to write a summary of the commit and - when necessary - a more detailed description of the cnahges included in this commit in the box in the bottom left corner.</li>
  <li>A <strong>commit message</strong> is the best and easiest way of keeping track of what changes you made to a file in a specific version, and so it is worth your while to provide a clear and concise <strong>commit message</strong> at all times.</li>
  <li>When you have typed in a <strong>commit message</strong>, click <strong>Commit to main</strong> below.</li>
</ol>

<p>To <strong>commit</strong> changes to a file means that the changes to the currently saved local version will be committed to the version control system Git. This stores a snapshot of the current version and changes relative to previous versions on your local harddrive. The various Git versions of a file can be inspected in <strong>GitHub Desktop</strong> by clicking the <strong>History</strong> tab next to the <strong>Changes</strong> tab in the lefthand window</p>

<p>In order to forward these changes to the version of the file stored online on your GitHub account, an additional step is needed. This is called a <strong>push</strong>, in that it pushes the commit to the relevant GitHub repository. If multiple people are working on files from the same GitHub repository, you would also occasionally want to update your local files from the versions stored in the GitHub repository. This is called a <strong>pull</strong>. Performing a <strong>push</strong> and a <strong>pull</strong> at the same time is called a <strong>sync</strong> (as we will see in the next module, cf. <a href="/daa/1_3_markdown.html">1.3</a>)</p>

<ol>
  <li>To <strong>push</strong> the commit to your GitHub repository, please locate the button in the top bar marked with an ↑ and the label <strong>Push origin</strong>. When no commits have been made that require pushing to GitHub online, the label will say <strong>Fetch origin</strong> (should you want to make a <strong>pull</strong> from the repository version online).</li>
  <li>To push your <strong>commit</strong>, simply press the button saying <strong>Push origin</strong>. Upon a succesful commit, the button should revert to saying <strong>Fetch origin</strong>, indicating that no <strong>commits</strong> remain on your local drive that have not been pushed to GitHub online</li>
  <li>To verify that the changes have been successfully pushed to the repository, go to the online GitHub repository and confirm the updated commit message for the <strong>README.md</strong>.</li>
</ol>

<h3 id="branches-in-github-repositories">Branches in GitHub repositories</h3>

<p>As a final note, we have not dealt with <strong>branches</strong> of a GitHub repository in the present module. The core version of a repository on GitHub is called <strong>main</strong>, and what we have done so far has been to pull and push commits directly to and from the <strong>main</strong> branch. When becoming more accostumed to the GitHub workflow, and especially when multiple users are working on the same repository, it is not advisable to constantly make changes directly to the <strong>main</strong> branch of a repository, as this is liable to cause inconsistencies between the changes that you and others make.</p>

<h4 id="creating-branches-and-forks">Creating branches and forks</h4>

<p>Instead, when you want to work on developing a feature or document without having to include changes that other users are making on the main version of the repository, it is advisable to create a new <strong>branch</strong> from the main <strong>branch</strong> and work on this branch instead.</p>

<p>Note that you can only create a <strong>branch</strong> from a repository if you have <strong>write access</strong> to this repository.</p>

<p>You can read a lot more about this under the GitHub Docs <a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches">Working with branches</a> entry.</p>

<p>If you do not have <strong>write access</strong>, the corresponding action is called a <strong>fork</strong>. A fork can be performed on any public GitHub repository by any GitHub user, and is designed to allow users to further develop and augment code and documentation prepared by other users or projects. A <strong>fork</strong> is then essentially a <strong>clone</strong> of a GitHub repository to which you yourself do not have access rights.</p>

<p>You can read more about forks under the GitHub Docs <a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks">About forks</a> entry.</p>

<h4 id="merging">Merging</h4>
<p>In order to integrate your work on a separate branch with the main branch of the repository, you will subsequently need to create a <strong>pull request</strong> (typically referred to as a <strong>PR</strong> in GitHub jargon). Once accepted by the repository manager (yourself or someone else with editorial access), changes in the <em>head</em> branch (the one you have been working on) are included in the <em>base</em> or <em>main</em> branch (the primary repository branch), and the <em>head</em> branch can be deleted.</p>

<p>More information about pull requests and merging are available from the GitHub Doc <a href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests">Collaborating with pull requests</a> entry.</p>

<h2 id="summary">Summary</h2>
<p>To conclude, this module has taught you to set up and use a GitHub account and repository for local editing and online storing of files, and how to maintain version control using Git to oversee changes in this files. When thinking about it, this setup can be used to work with a wide range of materials in a flexible way while maintaing the ability to backtrack and correct errors in previous edits. A GitHub account and repository will also enable you to prepare and publish projects online using <strong>Markdown</strong> and <strong>GitHub Pages</strong>, something that we will cover in the next module.</p>

